<div data-controller="dialog">
  <button data-action="click->dialog#open">Search</button>

  <dialog data-dialog-target="menu" class="search_modal">
    <%= turbo_frame_tag :search do %>
      <%= render "books/searches/form", book: book %>
    <% end %>
  </dialog>
</div>
