:is(#main):has(.sidebar) {
  display: grid;
  grid-template-columns: min-content 1fr;

  :has(#sidebar-toggle:checked) & {
    --space: clamp(2ch, 10%, 6ch);

    column-gap: calc(var(--space) / 2);
    inline-size: min(calc(67ch + 20dvw), 100%);
    padding-inline: var(--space);

  }

  @media (max-width: 70ch) {
    grid-template-columns: 1fr;
    padding-inline: var(--inline-space);
  }
}

.sidebar:is(.toc) {
  inline-size: 0;
  block-size: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: start;

  :has(#sidebar-toggle:checked) & {
    inline-size: 20dvw;
  }

  @media (max-width: 70ch) {
    display: none;
  }
}

.sidebar__toggle {
  @media (max-width: 70ch) {
    display: none;
  }
}
